doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Thank You
  style.
    input{
    display: list-item;
    margin-top: 5px;
    }
h1
  | Thank you #{name}
  br
  | Your enquiry has been logged!!!
